[submodule "Galactose/vendor/glm"]
	path = Galactose/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Galactose/vendor/entt"]
	path = Galactose/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Galactose/vendor/GLFW/GLFW"]
	path = Galactose/vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "GalactoseEditor/vendor/ImGui/ImGui"]
	path = GalactoseEditor/vendor/ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
